# Arch Linux
alias pka='su -c pacman --sync'
alias pky='su -c pacman --sync --refresh'
alias pku='su -c pacman --upgrade'
alias pks='su -c pacman --search'
alias pkq='su -c pacman --query'
alias pkr='su -c pacman --remove'


