[SL_Cpu]
Enabled=true
Use_Label=false
Color=#0000C0
Text=CPU

[SL_Mem]
Enabled=true
Use_Label=false
Color=#00C000
Text=RAM

[SL_Swap]
Enabled=true
Use_Label=false
Color=#F0F000
Text=SWP

[SL_Uptime]
Enabled=false

